* {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
        
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* altura total da tela */
        background-color: #f0f0f0;
        padding: 20px;
        box-sizing: border-box;
}

.artiCentral {
        background-color: white;
        padding: 30px;
        max-width: 700px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: justify;
}

.artiCentral h1 {
        text-align: center;
        background-color: white;
        padding-top: 10px;
        margin-bottom: 15;
  }
  .artiCentral h4 {
        text-align: center;
        font-size: 12px;
        background-color: white;
        font-weight: normal;
        margin-top: -2px; 
        color: #555;       
  }
  .artiCentral p {
        text-align: justify;
        background-color: white;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.3;
        margin-bottom: 16px;
  }